
// background-colors
$color-primary: #dfe6ee;
$color-secondary: #badbed;
$color-tertiary: #d7eccf;

$color-primary-light: lighten(#dfe6ee, 1%);
$color-primary-dark: darken(#dfe6ee, 15%);

$color-secondary-darken: darken($color-secondary, 20%);

$color-grey-light-1: #f7f7f7;

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777;

// font-sizes
$sm-size: 1.4rem;
$md-size: 1.6rem;
$lg-size: 3.5rem;


// buttons

$btn-width: 8rem;


// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
