.header {
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
    height: 100vh;

    &__navigation {
        @include font-size($md-size);
        @include flex-row;
        justify-content: flex-end;

        &__item {
            margin: 1rem;
        }
    }
}
